<!-- La página de inicio que verá el user al iniciar sesión 

Contiene las opciones que solo un usuario logueado puede ver:
    * Dropdown para opciones del usuario, ver entradas y cerrar sesión -->

{% extends "base.html" %}
{% block title %}<title>Dashboard</title>{% endblock %}
{% load bootstrap_icons %}
{% block logo-position %}
    <div class="row justify-content-around align-item-center m-3 p-3">
        <div class="col">
      {% endblock %}
{% block nav %}
{% block user-name %}<h4 class="col-1">User</h4>{% endblock %}
<!-- Start Dropdown user -->
<div class="col-1 dropdown">
    {% block user-icon-color %}
    <a class="nav-link" data-toggle="dropdown" id="user-menu" role="button">
        {% bs_icon 'person-circle' size='30px' color='#E2ADF2'%}
    </a>
    {% endblock %}
    <ul class="dropdown-menu">
        <li class="dropdown-item border-bottom text-secondary text-center fw-bold">Ajustes</li>
        <li><a class="dropdown-item" href="{% url 'login' %}">{% if usuario %} {{ usuario }} {% else %} Iniciar Sesion {% endif%}</a></li>
        <li><a class="dropdown-item" href="#">Cambiar correo</a></li>
        <li><a class="dropdown-item" href="{% url 'change_psswd' %}">Cambiar contraseña</a></li>
        <li><a class="dropdown-item" href="{% url 'home_user' %}">Mis entradas</a></li>
        <li><a class="dropdown-item border-top text-secondary text-center fw-bold" href="{% url 'logout' %}">Cerrar sesión</a></li>
    </ul>      
    </div>
    <!-- End Dropdown user -->
{% endblock %}
{% block content %}
<div class="container m-5">
   <div class="row justify-content-center m-3">
        <h3 class="col-5 fs-1 text-white">
            Mis entradas
        </h3>
        {% if usuario %}
        <a href="{% url 'journal' %}"class="col">
            {% bs_icon 'plus-square-fill' size='33px' color='#E2ADF2'%}
        </a>
        {% endif%}
   </div>
   <!-- Todo: Esto es lo que has estado pensando estos días  -->
   <!-- Start table: Muestra registros desde la bdd -->
    <div class="row">
        <div class="col scroll">
            <table class="table table-hover text-white text-center m-3" height="100px">
                    {% for e in entradas %}
                        <tr class="{% cycle 'row1' 'row2' %}">
                            <td>{{ e.emoji }}</td>
                            <td>{{ e.fecha }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
         <p class="col border border-light text-white p-3 scroll">
           {{ entradas.0.contenido }}
        </p>
    </div>
<!-- End table: Muestra registros desde la bdd --> 

<!-- Start estadisticas -->
    <div class="row">
        <div class="col-12 m-5"></div>
        <div class="col-12 m-3">
            <h3 class="fs-1 text-white">
                Mis estadísticas
            </h3>
        </div>
        <div class="col">
            <p class="emojis">&#128525; 4</p> 
        </div>
        <div class="col">
            <p class="emojis">&#128513; 1</p>
        </div>
        <div class="col">
            <p class="emojis">&#128528; 4</p>
        </div>
        <div class="col">
            <p class="emojis">&#128545; 3</p>
        </div>
        <div class="col">
            <p class="emojis">&#128546; 2</p>
        </div>  
        <div class="col-12 m-3"></div> <!--Necesario para el margin-->
    </div>
    <!-- End estadisticas -->    

    <!-- Start Sugerencias -->
    <!-- Más puntos indican más felicidad
        * Enamorado: 50
        * Feliz: 30
        * Neutral: -5
        * Enojado: -10
        * Triste: -10
            -->
       <!-- Mostrar cuando se tengan menos de 20 puntos -->
    <div class="row justify-content-center">
        <div class="col-5 text-center"> 
            {% bs_icon 'exclamation-diamond-fill' size='50px' color='yellow'%}
            <h3 class="fs-1 text-white">
                ¿Estás bien?
            </h3>
            <p class="fs-3 text-white">Hemos notado que no te has sentido muy bien estos días. 
                Esperamos que
                <a href="https://www.youtube.com/watch?v=_AdKwR8LYWo" 
                class="link-danger">este video</a> te haga sentir mejor 
                {% bs_icon 'heart-fill' size='10px' color='red'%}</p>
        </div>
    </div>   
     <!-- Mostrar cuando se tengan 0 o menos -->
    <div class="row justify-content-center">
        <div class="col-5 text-center"> 
            {% bs_icon 'exclamation-diamond-fill' size='50px' color='red'%}
            <h3 class="fs-1 text-white">
                ¡Necesitas ayuda!
            </h3>
            <p class="fs-3 text-white">Por favor lee 
                <a href="https://habilidadsocial.com/autocoaching/" class="link-danger">este artículo</a> 
                y mira <a href="https://www.youtube.com/watch?v=ApxnYNobUEI" class="link-danger">este video</a> 
                para animarte, también te recomendamos 
                <a href="https://www.youtube.com/watch?v=hTKDQ5FRB18" class="link-danger">meditar</a> y si
                necesitas hablar con alguien, no dudes en llamarnos
                {% bs_icon 'heart-fill' size='10px' color='red'%}</p>
        </div>
    </div>       
    <!-- End Sugerencias -->
</div>
{% endblock %}