{% extends "base.html" %}
{% block background %}<body class="background_6">{% endblock %}
  {% block logo-color %}<h1 class="title_dark p-2">Emotions on Page</h1>{% endblock %}
{% block content %}      
{% load crispy_forms_tags %}

<!--Login -->
<div class="container">
  <div class="form-row justify-content-center text-center p-5 m-3 ">
    <form method="POST">
      {% csrf_token %}
      {{ login_form|crispy }}
      <!-- 
      <div class="row">
        <div class="form-group">
          <label for="username">Nombre de Usuario:</label>
          <input class="form-control" type="text" name="username">
        </div>
      </div>
      -->
      <div class="row">
        <div class="form-group">
          <!--<label for="username">Contraseña:</label>-->
          <!--<input class="form-control" type="password" name="password">-->
          <br>
          <br>
          <button class="btn btn-primary" type="submit">Iniciar sesión</button>
        </div>
      </div>
      <div class="row">
          <div class="form-group">
            <p class="text-center">¿No tienes cuenta? <a href="{% url 'register_user' %}">Crear cuenta</a>.</p>
            <!-- <p class="text-center"><a href="/password">¿Olvidaste tu contraseña?</a></p> -->
          </div>
      </div>

    </from>
  </div>
</div>


<!--
<div class="container py-5">
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
    
  </form>
  
</div>-->
{% endblock %}
{% block trademark %}<p class="font-weight-normal text-dark fw-bold">&#0169;Emotions On Page, Inc.</p>{% endblock %}
{% block link1 %}<a href="{% url 'privacy' %}" class="link-info">Privacidad</a>{% endblock %}
{% block link2 %}<a href="{% url 'terms' %}" class="link-info">Términos</a>{% endblock %}
{% block legend %}<p class="col font-weight-normal text-dark">Hecho con &hearts;</p>{% endblock %}