body{
    
}
.font{
    font-size: 66px;
    font-weight: 600;
    line-height: 80px;
}
.font1{
    font-size: 18px;
    color:whitesmoke;
    line-height: 1.8;
    margin-bottom: 0;
}
.topmargin-xs{ margin-top: 15px;}
.topmargin-sm{ margin-top: 30px;}
.topmargin-lg{ margin-top: 60px;}

.btn{
    font-size: 25px;
    padding: 15px 26px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
}
.btn-light{
    background-color: white;
    color: black;
    border: 2px solid #ffff;
}
.navbar{
    background-color: #ffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 100px;
    font-size: x-large;
}

.nav-link{ color:black}
.nav-link:hover{ color:black}
.logo-page {
    min-width: 60px;
    max-width: 10px;

}
.navbar-toogler { font-size: 100px;}
.navbar-toogler:focus{ outline: none;}

#hero{
    background-color: black;
    background-image: url("{% static 'css/hero.jpg' %}");
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color: white;
    
}
.content-center{
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
    

}