.background{
    background-color: #222A68;
}
.background_2{
    background-color: #E2ADF2;
}
.background_3{
    background-color: #574AE2; 
}
.background_4{
    background-color: #654597;
}
.background_5{
    background-color: #AB81CD;
}
.background_6{
    background-color: white;
}
.title_light{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 50px;
}
.title_light:hover{
    color: rgb(87, 203, 43);
    text-decoration: none;
}
.title_dark{
    font-family: 'Lobster', cursive;
    color: black;
    font-size: 50px;
}
.title_dark:hover{
    color: rgb(56, 168, 250);
    text-decoration: none;
}
.subtitle{
    font-family: 'Lobster', cursive;
    font-family: 'Vidaloka', serif;
    color: white;
    /* color: rgb(235, 173, 38); */
}
.text_3{
    color: rgb(245, 180, 39);
}
.text_4{
    color: rgb(52, 52, 52);
}
.link{
    color: #E2ADF2;
    text-decoration: underline;
}
.link:hover{
    color: rgb(245, 180, 39);
    text-decoration: underline;
}
.link_2{
    color: #8F1CB3;
    text-decoration: underline;
}
.link_2:hover{
    color: #ACCAF2;
    text-decoration: underline;
}
.link_3{
    color: black;
    text-decoration: none;
}
.link_4{
    color: #222A68;
    text-decoration: underline;
}
.link_4:hover{
    color: #8F1CB3;
    text-decoration: underline;
}
.borde{
    border-radius: 10px;
}
.emojis{
    font-size: 30px; 
    color: rgb(245, 180, 39); 
}
.scroll{
    height: 210px;
    overflow: scroll;
}
.buttons{
    border: none;
    border-radius: 12px;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.option{
    background-color: #222A68;
}

.option:hover{
    background-color: yellow;
}