body{
    
}
.font{
    font-size: 66px;
    font-weight: 600;
    line-height: 80px;
}
.font1{
    font-size: 18px;
    color:whitesmoke;
    line-height: 1.8;
    margin-bottom: 0;
}


.topmargin-xs{ margin-top: 15px;}
.topmargin-sm{ margin-top: 30px;}
.topmargin-lg{ margin-top: 60px;}

.btn{
    font-size: 55px;
    padding: 15px 26px;
    min-width: 160px;
    display: inline-block;
    background-color: rgb(170, 87, 159);
    color: black;
    border: 2px solid rgb(170, 87, 159);
}


.navbar{
    background-color: #AB81CD;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 100px;
    font-size: x-large;
}

.nav-link{ color:black}
.nav-link:hover{ color:black}

.navbar-toogler { font-size: 100px;}
.navbar-toogler:focus{ outline: none;}

#hero{
    background-color: black;
    background-image: url('/static/img/hero.jpg');
    background-size: cover;
    padding-top: 90px;
    min-height: 200px;
    color: white;
    
}

#hero1{
    background-image: url('/static/img/hero1.jpg');
    background-size: cover;
    padding-top: 90px;
    min-height: 200px;
    color: white;

}
#hero2{
    background-image: url('/static/img/hero2.jpg');
    background-size: cover;
    padding-top: 90px;
    min-height: 200px;
    color: white;
}
#hero3{
    background-image: url('/static/img/hero3.jpg');
    background-size: cover;
    padding-top: 90px;
    min-height: 200px;
    color: white;
}

.content-center{
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
    

}