<!-- Página usada como plantilla donde se define el header y footer,
  además se importan;
*  librerías de bootstrap
* Fuentes de google, íconos y css -->
{% load static %}
{% load bootstrap_icons %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}<title>Sign up!</title>{% endblock %}
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Vidaloka&display=swap" rel="stylesheet">
  <!-- Icons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <!-- CSS personalizado -->
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="stylesheet" href="{% static 'css/style2.css' %}">
   {% block chat-style %}{% endblock %}
   
   <!-- <link rel="text/javascript" href="{% static 'js/jquery.js' %}"> -->
  <!-- CSS de Bootstrap -->
  {# Cargamos la librería #}
  {% load bootstrap4 %}

  {# CSS Bootstrap #}
  {% bootstrap_css %}
</head>
<nav class="navbar navbar-expand-lg ">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <ion-icon name="menu-outline"></ion-icon>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav col-md-9 ml-md-auto">
        <li class="nav-item ">
          <a class="nav-link text-dark" href="{% url 'index' %}" id="home">Inicio | </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'emociones' %}" id="NYF">Emociones | </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'wikis' %}" id="Wikis">Wikis | </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'recomendaciones' %}" id="re">Recomendaciones | </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'test_emotions' %}" id="wh">Ayuda </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% block background %}<body class="background">{% endblock %}
  <!-- Start Header -->
  <div class="container">
    <header>
      {% block logo-position %}
    <div class="row justify-content-center align-item-center text-center">
        <div class="col m-3 p-3">
      {% endblock %}
          <a href="{% url 'index' %}">
            {% block logo-color %}
            <h1 class="title_light">Emotions on Page</h1>
            <!-- <h3 class="text-warning offset-sm-2">Journal</h3> -->
            {% endblock %}</a>
        </div>
        {% block nav %}<div></div>{% endblock %}
      </div>
    </header>
  </div>
  <!-- End Header -->

  {% block content %}{% endblock %} <!--Bloque para personalizar el contenido de otras páginas-->
      
  <!-- Start footer -->
  <div class="container">
    <footer>
      <div class="row justify-content-start align-items-start m-2 p-3">
        <div class="col">
          {% block trademark %}<p class="font-weight-normal text-white fw-bold">&#0169;Emotions On Page, Inc.</p>{% endblock %}
        </div>
        <div class="col">
          {% block link1 %}<a href="{% url 'privacy' %}" class="link">Privacidad</a>{% endblock %}
        </div>
        <div class="col">
          {% block link2 %}<a href="{% url 'terms' %}" class="link">Términos</a>{% endblock %}
        </div>
        <div class="col">
          {% block legend %}<p class="font-weight-normal text-white">Hecho con &hearts;</p>{% endblock %}
        </div>
      </div>
    </footer>
  </div>
<!-- End footer -->

  {# JS y jQuery Bootstrap #}
  {% bootstrap_javascript jquery='full' %}
  </body>  
</html>