{% extends 'home.html' %}
{% load static %}
{% block chat-style %}<link rel="stylesheet" href="{% static 'css/style3.css' %}">{% endblock %}
{% block title %}<title>Chat psicólogo</title>{% endblock %}
{% load bootstrap_icons %}
{% block background %}<body class="background_6">{% endblock %}
{% block logo-color %}<h1 class="title_dark p-2">Emotions on Page</h1>{% endblock %}
{% block content %}
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="row justify-content-center m-2">
                <p class="col-8 bg-light">¡Bienvenido al chat! Aquí podrás hacer tus consultas &#10024;</p>
            </div>
            <div class="col-12"></div>
            <div class="col-5 text-dark bg-light p-5 m-2">
                <p class="text-center">Por favor, inicia la conversación con tu paciente y muéstrale que estás abierto a escucharlo, ¡anímalo!.
                </p>
                <p class="m-1">.</p>
                <p class="text-center"> <strong>Sé profesional</strong></p>
                <p class="text-center">Es importante ser amigable y hacer sentir lo mejor posible a nuestro pacientes, ¡demuestra tus habilidades!</p>
                <p class="text-center">Recuerda: no temas expresarte pero sé respetuoso 
                    {% bs_icon 'emoji-smile' size='15px' color='black'%}</p>
                <p class="m-4">.</p>
                <p class="text-center"><strong>¿Dudas?</strong></p>
                <p class="text-center">Puedes contactarnos directamente vía e-mail para darnos tus comentarios, quejas o sugerencias</p>
            </div>
            <div class="col-md-4">
                <div class="box direct-chat direct-chat-warning">
                    <div class="box-header">
                        <h3 class="box-title">Chat</h3>
                        <div class="box-tools pull-right"> 
                            <span data-toggle="tooltip" title="" class="badge bg-info" data-original-title="3 New Messages">1</span> 
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i> 
                            </button> 
                            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-widget="chat-pane-toggle" data-original-title="Contacts"> 
                                <i class="fa fa-comments"></i></button> 
                                <button type="button" class="btn btn-box-tool" data-widget="remove">
                                    <i class="fa fa-times"></i> </button> 
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="direct-chat-messages">
                            <div class="direct-chat-msg right">
                                <div class="direct-chat-info clearfix"> <span class="direct-chat-name pull-right">Tú</span> <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span> </div> 
                                <img class="direct-chat-img" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="message user image">
                                <div class="direct-chat-text"> Hola buen día!, soy tu psicologo, ¿que es lo k te pasa amigooo? uwu</div>
                            </div>
                            <div class="direct-chat-msg">
                                <div class="direct-chat-info clearfix"> 
                                    <span class="direct-chat-name pull-left">Paciente</span> 
                                    <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span> </div>
                                    <img class="direct-chat-img" src="https://img.icons8.com/office/36/000000/person-female.png" alt="message user image">
                                <div class="direct-chat-text"> Help mi plis uwu</div>
                            </div>
                        </div>
                        &nbsp;
                        &nbsp;
                    </div>
                    <div class="box-footer">
                        <form action="#" method="post">
                            <div class="input-group"> 
                                <input type="text" name="message" placeholder="Type Message ..." class="form-control"> 
                                <!-- <span class="input-group-btn"> 
                                </span>  -->
                                <button type="button" class="btn btn-info btn-flat">Enviar</button> 
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block trademark %}<p class="font-weight-normal text-dark fw-bold">&#0169;Emotions On Page, Inc.</p>{% endblock %}
{% block link1 %}<a href="{% url 'privacy' %}" class="link-info">Privacidad</a>{% endblock %}
{% block link2 %}<a href="{% url 'terms' %}" class="link-info">Términos</a>{% endblock %}
{% block legend %}<p class="col font-weight-normal text-dark">Hecho con &hearts;</p>{% endblock %}