{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Plantilla básica de Bootstrap</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <!-- CSS de Bootstrap -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- librerías opcionales que activan el soporte de HTML5 para IE8 -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  {# Cargamos la librería #}
  {% load bootstrap4 %}

  {# CSS Bootstrap #}
  {% bootstrap_css %}

</head>

<body href="{% static 'css/style.css' %}">
  <header class="navbar navbar-expand-lg ">
    <div class="container">
      <a class="navbar-brand mb-0 h1" href="#">EMOTION ON PAGE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <ion-icon name="menu-outline"></ion-icon>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <a href="#" class="btn btn-lg ml-auto">Sing Up</a>
        <a href="#" class="btn btn-lg float-right">Login</a>
        
      </div>
    </div>
  </header>

  <nav class="navbar navbar-expand-lg ">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <ion-icon name="menu-outline"></ion-icon>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav col-md-9 ml-md-auto">
          <li class="nav-item ">
            <a class="nav-link" href="http://127.0.0.1:8000/" id="home">Inicio | </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'emociones' %}" id="NYF">Emociones| </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'wikis' %}" id="Wikis">Wikis | </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="wh">Ayuda? | </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'recomendaciones' %}" id="re">Recomendaciones | </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  

  <section id="hero">
    <div class="container">
      <div class="content-center topmargin-lg">
        <br>
        <br>
        <br>
        <h1 class="font">¿COMO TE SIENTES HOY?</h1>
        <p class="font1">
          Escribir en mi journal.
        </p>
        <a href="#" class="btn btn-light">Iniciar</a>
      </div>
    </div>
  </section>

  <section id="hero1">
    <div class="container">
      <div class="content-center topmargin-lg">
        <br>
        <br>
        <br>
        <h1 class="font">¿CONFUNDIDO?</h1>
        <p class="font1">
          Realiza el test para saber como te sientes 
        </p>
        <a href="#" class="btn btn-light">Iniciar</a>
      </div>
    </div>
  </section>

  <section id="hero2">
    <div class="container">
      <div class="content-center topmargin-lg">
        <br>
        <br>
        <br>
        <h1 class="font">¿GANAS DE EXPLORAR?</h1>
        <p class="font1">
          Busca sobre un tema.
        </p>
        <a href="#" class="btn btn-light">Iniciar</a>
      </div>
    </div>
  </section>

  <section id="hero3">
    <div class="container">
      <div class="content-center topmargin-lg">
        <br>
        <br>
        <br>
        <h1 class="font">ERES PSICOLOGO</h1>
        <a href="#" class="btn btn-light">Registro</a>
      </div>
    </div>
  </section>
  


  <!-- Librería jQuery requerida por los plugins de JavaScript -->
  <script src="http://code.jquery.com/jquery.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  <!-- Todos los plugins JavaScript de Bootstrap (también puedes
         incluir archivos JavaScript individuales de los únicos
         plugins que utilices) -->
  <script src="js/bootstrap.min.js"></script>

  {# JS y jQuery Bootstrap #}
  {% bootstrap_javascript jquery='full' %}

</body>

</html>