<!-- Vista para escribir en el journal -->
{% extends "home.html" %}
{% block title %}<title>Journal</title>{% endblock %}
{% load bootstrap_icons %}
{% block background %}<body class="background_6">{% endblock %}
{% block logo-color %}
    <h1 class="title_dark p-2">Emotions on Page</h1>
    <!-- <h3 class="text-warning offset-sm-2">Journal</h3> -->
{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <p class="col-5 fb-3 text-dark bg-light p-2">Este espacio es solo para ti. Puedes usarlo como un lugar de descarga para tus pensamientos. Descuida, nadie lo sabrá. *guiño* (en serio)</p> 
    </div>
    <form action="#" class="row p-4 justify-content-center" method="post">
    <div class="row justify-content-around text-center">
        <div class="col-12 m-2"></div>
        <p class="col-3 fb-3 text-dark fw-bold font-monospace justify-content-center">
            {% bs_icon 'calendar3' size='25px' color='#38A8FA'%}
            <strong>03 de octubre del 2021, miércoles</strong>
            <input type="date">
        </p> 
        <!-- <p class="col-3 fb-3 emojis">&#128525;</p> -->
        <select class="custom-select col-1 fb-3" id="emotion">
            <option selected>&#128525;</option>
            <option value="1">&#128513;</option>
            <option value="2">&#128528;</option>
            <option value="3">&#128545;</option>
            <option value="4">&#128546;</option>
          </select>    
    </div>
        <textarea class="col-10 border border-dark rounded form-control" id="" rows="20" placeholder="Hoy es..."></textarea>
        <p class="col-3 m-3">
            <button type="submit" class="btn btn-outline-info">Guardar</button>
        </p> 
    </form>
</div>
{% endblock %}
{% block trademark %}<p class="font-weight-normal text-dark fw-bold">&#0169;Emotions On Page, Inc.</p>{% endblock %}
{% block link1 %}<a href="{% url 'privacy' %}" class="link-info">Privacidad</a>{% endblock %}
{% block link2 %}<a href="{% url 'terms' %}" class="link-info">Términos</a>{% endblock %}
{% block legend %}<p class="col font-weight-normal text-dark">Hecho con &hearts;</p>{% endblock %}