{% extends "base.html" %}
{% block background %}<body class="background_6">{% endblock %}
{% block logo-color %}<h1 class="title_dark p-2">Emotions on Page</h1>{% endblock %}
{% load bootstrap_icons %}
{% block title %}<title>Recomendaciones</title>{% endblock %}
{% block content %}

<div class="container-fluid ">
    <div class="row text-center justify-content-center align-item-center" style="padding: 30px 15px 225px;" >
        <h1 class="col-3 text-center ">PLAYLISTS</h1>
        <div class="col-11"><img src="../static/img/meditacion.jpg" alt="meditacion" class="col-2"></div>
        
        <div class="col-11 m-2"></div>
        <h1 class="col-3" ><a href="https://open.spotify.com/playlist/37i9dQZF1DWZqd5JICZI0u" class="link-info"> PacefulMeditation </a></h1>
        <div class="col-11"><img src="../static/img/meditacion1.jpg" alt="meditacion1" class="col-2"></div>
        
        <h1 class="col-3"><a href="https://open.spotify.com/show/202yW1Cn0UMsf88Mx9utXL">Meditacion Guiada</a></h1> 

    </div>
</div>





{% endblock %}
