<!-- Vista para registrar usuarios -->
{% extends "base.html" %}
{% block content %}
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
<!-- Start form -->
<div class="container">  
  <div class="form-row justify-content-center text-center p-5 m-3 border border-warning rounded">
    <form class="needs-validation" novalidate>
      <div class="row justify-content-center">
        <div class="col-sm-3 m-3">
          <input type="text" class="form-control" id="nombre" placeholder="Tu nombre" required>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Elige un nombre de usuario</div>
        </div>
      <div class="w-100"></div> <!--Hack to center inputs-->
      <div class="col-sm-3">
        <input type="email" class="form-control" id="email" placeholder="Email" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Correo inválido</div>
      </div>
      <div class="w-100"></div>
      <div class="col-sm-3 m-3">
        <input type="password" class="form-control" id="password" placeholder="Password" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Elige una contraseña</div>
      </div>
      <div class="w-100"></div>
      </div>
      <p class="col font-weight-normal m-1 text-white">Al hacer clic en "Enviar" o continuar con las otras opciones a continuación, aceptas los 
        <a href="{% url 'terms' %}" class="link-light">Términos de servicio</a> 
          de Emotions on Page y has leído la 
        <a href="{% url 'privacy' %}" class="link-light">Política de privacidad</a>.
      </p>
      <br>
      <p class="col font-weight-normal text-white">¿Eres psicólogo? <a href="{% url 'register_psicologo' %}" class="col font-weight-normal link">Regístrate como psicólogo</a></p>
      <p class="col m-1">
        <button type="submit" class="btn btn-outline-warning">Registrarme</button>
      </p>
    </form>
  </div>
</div>
<!-- End form -->
{% endblock %}