<!-- Vista para registrar psicólogos -->
{% extends "base.html" %}
{% block background %}<body class="background_2">{% endblock %}
{% block logo-color %}<h1 class="title_dark m-3 p-3">Emotions on Page</h1>{% endblock %}
{% block content %}
      <!-- Start form -->
      <div class="container">
        <div class="form-row justify-content-center text-center p-5 m-3 border border-dark rounded">
          <form>
            <h3 class="col font-weight-normal m-4">¿Te gustaría ayudar a millones de personas con terapia online? ¡Únete a la comunidad!</h3>
            <p class="col font-weight-normal">Querido psicólogo: <br> Regálanos tus datos, y en la brevedad nos pondremos en contacto contigo:</p>
            <div class="row justify-content-center">
              <input type="text" class="col-sm-3 form-control m-3" id="nombre" placeholder="Tu nombre">
              <div class="w-100"></div> <!--Hack to center inputs-->
              <input type="email" class="col-sm-3 form-control" id="email" placeholder="Email">
              <div class="w-100"></div>
              <input type="number" class="col-sm-3 form-control m-3" id="number" placeholder="Teléfono">
              <div class="w-100"></div>
            </div>
            <p class="col font-weight-normal m-1">Al hacer clic en "Enviar" o continuar con las otras opciones a continuación, aceptas los 
              <a href="{% url 'terms' %}" class="link-dark">Términos de servicio</a> 
              de Emotions on Page y has leído la 
              <a href="{% url 'privacy' %}" class="link-dark">Política de privacidad</a>.
            </p>
              <p class="col font-weight-normal">¿No eres psicólogo? <a href="{% url 'register_user' %}" class="col font-weight-normal link_4">Regístrarme en Emotions on Page</a></p>
            <p class="col m-1">
              <button type="submit" class="btn btn-outline-dark">Enviar</button>
            </p>
          </form>
        </div>
      </div>
      <!-- End form -->
      {% endblock %}
      {% block trademark %}<p class="col font-weight-normal text-dark">&#0169;Emotions On Page, Inc.</p>{% endblock %}
      {% block link1 %}<a href="{% url 'privacy' %}" class="link_4">Privacidad</a>{% endblock %}
      {% block link2 %}<a href="{% url 'terms' %}" class="link_4">Términos</a>{% endblock %}
      {% block legend %}<p class="col font-weight-normal text-dark">Hecho con &hearts;</p>{% endblock %}