{% extends "base.html" %}
{% block title %}<title>Términos de Servicio</title>{% endblock %}
{% block content %}
<div class="container">
    <div class="row text_4 bg-white p-4 m-2 borde">
        <h1 class="col-12 bs-1">Términos de Servicio</h1>
            <p class="col bg-light p-2">Emotions on Page es una empresa de EE. UU. Y está sujeta a las leyes y jurisdicción de EE. UU. La versión original de estos Términos de servicio (y cualquier otro término, política o pauta que le proporcionemos) está escrita en inglés. En la medida en que cualquier versión traducida de estos Términos de servicio (o cualquier otro término, política o pauta que le proporcionemos) entre en conflicto con la versión en inglés, prevalecerá la versión en inglés.
                ESTOS TÉRMINOS DE SERVICIO CONTIENEN LAS LIMITACIONES DE RESPONSABILIDAD DE Emotions on Page EN LA SECCIÓN 15.
            </p>
            <p class="col">
                ¡Hola! Bienvenido a los Términos de servicio de Emotions on Page. Lea esto detenidamente antes de utilizar nuestro sitio, servicios o productos. Este es un contrato entre Emotions on Page y tú. 
                También hemos incluido varias anotaciones que no forman parte del contrato en sí, pero están destinadas a enfatizar las secciones clave y ayudarlo a seguir el texto. Hemos tratado de ser justos y directos. 
                ¡No dude en contactarnos si tiene alguna pregunta o sugerencia!
            </p>
            <h3 class="col-12 bs-3">1. Aceptación de las Condiciones de servicio</h3>
            <p class="col-12">Lea estos Términos de servicio y nuestras Pautas de la comunidad (en conjunto, el " Acuerdo ") con atención antes de usar Emotions on Page.com (el " Sitio ") y / o los otros dominios, sitios web, productos, aplicaciones, 
                aplicaciones móviles, servicios y / o Contenido proporcionado por Emotions on Page, Inc. (todos los que forman parte del Sitio, los " Servicios ") (Emotions on Page, Inc., una corporación de Delaware y subsidiaria de propiedad total 
                de Automattic Inc., una corporación de Delaware (" Automattic "), colectivamente con sus agentes, representantes, consultores, empleados, funcionarios y directores, " Emotions on Page ", " nosotros " o " nos").
                 Al usar o acceder a los Servicios, usted acepta estar sujeto a todos los términos y condiciones de este Acuerdo. Si no está de acuerdo con todos los términos y condiciones de este Acuerdo, no debe hacerlo y 
                 no lo está permitido, utilizar los Servicios. Los Servicios personalizados de Emotions on Page no se pueden proporcionar y los términos de este Acuerdo no se pueden realizar sin que Emotions on Page procese información sobre usted y otros usuarios. 
                 El procesamiento de la información que comparte con Emotions on Page es esencial para los Servicios personalizados que brindamos y lo que espera, incluido el Contenido personalizado (como se describe a continuación) y los anuncios, 
                 y es una parte necesaria de nuestro cumplimiento del acuerdo que tenemos con usted.
            </p>
            <p class="col">
                Solo le estamos informando, aquí, que Emotions on Page ahora es parte de Automattic , una compañía de tecnología que permite a las personas crear hermosos sitios web, contar sus historias y encontrar y hacer crecer su audiencia y 
                estos Términos de servicio , que se aplican a su uso. de Emotions on Page, se han actualizado para reflejar este cambio. Esta sección también incluye un acuerdo en el que usted acepta aceptar los términos de este Acuerdo.
            </p>
            <h3 class="col-12 bs-3">2. Modificaciones a este Acuerdo</h3>
            <p class="col">
                Emotions on Page se reserva el derecho de modificar estos Términos de servicio o nuestros Lineamientos de la comunidad notificándote . Le enviaremos un aviso mediante la publicación de una versión revisada de los Términos de servicio 
                modificados o las Directrices de la comunidad sobre los Servicios y, en algunos casos, podemos proporcionarle un aviso adicional, por ejemplo, por correo electrónico o de otro modo a través de los Servicios (por ejemplo, a 
                través de una notificación en su Tablero de Emotions on Page o en nuestras aplicaciones móviles). Las modificaciones no se aplicarán retroactivamente. Usted es responsable de revisar y familiarizarse con cualquier modificación a este Acuerdo.
            </p>
            <p class="col-12">En ocasiones, es posible que le pidamos que revise y acepte (o rechace) explícitamente una versión revisada de este Acuerdo. En tales casos, las modificaciones entrarán en vigencia en el momento de su aceptación de la versión 
                modificada de este Acuerdo. Si no está de acuerdo en ese momento, no se le permite utilizar los Servicios.
            </p>
            <p class="col-12 bg-light">En los casos en los que no solicitemos su acuerdo explícito con una versión modificada de este Acuerdo, 
                pero proporcionemos un aviso como se establece anteriormente, la versión modificada de este Acuerdo entrará en vigencia 
                catorce días después de que hayamos publicado el Acuerdo modificado y le proporcionamos una notificación. de las modificaciones. 
                Su uso de los Servicios después de ese período constituye su aceptación de los términos y condiciones de este Acuerdo modificado. 
                Si no está de acuerdo con las modificaciones, no se le permite usar los Servicios y debe dejar de usarlos.
            </p>
            <p class="col"></p>

    </div>
</div>
{% endblock %}