{% extends "base.html" %}
{% block background %}<body class="background_6">{% endblock %}
{% block logo-color %}<h1 class="title_dark p-2">Emotions on Page</h1>{% endblock %}
{% load bootstrap_icons %}
{% block title %}<title>Recomendaciones</title>{% endblock %}
{% block content %}

<div class="container">
    <div class="elemento">
        <h3><img src="../static/img/blog1.jpg" alt="" width="220px" height="300px" class="izquierda">
            <a href="https://psicologiaymente.com/">
            Psicologia y Mente 
            </a>
        </h3>
        <h3>Es uno de los blogs de psicología que ofrece una mayor variedad en la temática de sus contenidos 
            y también uno de los más visitados en español. En menos de un año desde que tres estudiantes de 
            psicología de Barcelona (España) lo crearon, ya es líder en la divulgación de artículos sobre psicología 
            con más de 20 millones de visitantes mensuales y su página de Facebook cuenta ya con más de 1.200.000 seguidores.</h3>
    </div>
    <div class="elemento">
        <h3><img src="../static/img/blog2.jpg" alt="" width="220px" height="300px" class="izquierda">
            <a href="https://serenapsicologia.com/blog/">
                Serena Psicología
            </a>
        </h3>
        <h3>El centro de psicoterapia especializado en mujeres Serena Psicología cuenta con un interesante 
            blog que trata temas de interés general.
            A través de sus artículos, que normalmente están planteados centrándose en consejos prácticos 
            y en la resolución de dudas frecuentes en la vida cotidiana, podrás aprender sobre aspectos de 
            la mente humana como la gestión de la ira, el sentimiento de culpa en la maternidad, las creencias 
            machistas y cómo detectarlas, la autoestima en mujeres, las emociones asociadas a las rupturas de pareja, y más.
        </h3>
    </div>
    <div class="elemento">
        <h3><img src="../static/img/blog3.jpg" alt="" width="220px" height="300px" class="izquierda">
            <a href="https://habilidadsocial.com/blog/">
                Habilidad Social
            </a>
        </h3>
        <h3>Es frecuente que en los blogs de psicología se hable sobre investigaciones y conceptos teóricos 
            que hacen referencia al funcionamiento del cerebro humano, como si esta fuera una máquina que trabaja 
            de manera privada y de manera individual. Sin embargo, es menos frecuente encontrar webs que se centren 
            especialmente en la esfera práctica de la gestión de las habilidades sociales.
        </h3>
    </div>
    <div class="elemento">
        <h3><img src="../static/img/blog4.jpg" alt="" width="220px" height="300px" class="izquierda">
            <a href="https://www.menteamente.com/blog-salud-mental">
                Mente A Mente
            </a>
        </h3>
        <h3>La ansiedad y el miedo son experiencias normales que todos experimentamos cada cierto tiempo. 
            El miedo surge ante una amenaza externa identificable (por ejemplo, ante un atraco) y es una de 
            las seis emociones básicas. El miedo se considera fundamental para la supervivencia porque nos 
            prepara para la reacción de lucha-huida ante situaciones de riesgo inminente. Por otra parte, 
            la ansiedad es un estado emocional no placentero que se acompaña de nerviosismo y una sensación de desasosiego.
        </h3>
    </div>
    <div class="elemento">
        <h3><img src="../static/img/blog5.jpg" alt="" width="220px" height="300px" class="izquierda">
            <a href="https://www.som360.org/es/blog">
                Salud Mental 360
            </a>
        </h3>
        <h3>SOM Salud Mental 360 es una iniciativa impulsada por centros de la Orden Hospitalaria San Juan de Dios.
            Participan en este proyecto diferentes centros que atienden a personas con problemas de salud mental: 
            el Parc Sanitari Sant Joan de Déu (Sant Boi del Llobregat, Barcelona), el Hospital Sant Joan de Déu Barcelona 
            (Esplugues de Llobregat, Barcelona) y Sant Joan de Déu Terres de Lleida (Almacelles-Lleida), así como Sant Joan de Déu Serveis 
            Socials-Barcelona además del ámbito solidario representado por Solidaridad San Juan de Dios.
        </h3>
    </div>




    
</div>





{% endblock %}
